{% extends "base.html.twig" %}

{% block content %}
    <!-- Header -->
<div id="dylan">
    <link rel="stylesheet" href="{{ asset('bundles/EPHEC/css/landing_page.css') }}">
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>NoticeMe</h1>
                        <h3>Your app of choice for geo-localised reminders!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#download" class="btn btn-default btn-lg" style="background-color: #03A9F4; color: #f8f8f8;"><span class="network-name">Click to download</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Geo-localised reminders<br>on Android</h2>
                    <p class="lead">Turn your Android smartphone into your personnal list of reminders, reminders which can send you a notification based on your location and the place you set your marker for this reminder.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://www.qualcomm.com/sites/ember/files/device/image/oneplus-two-angle.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

	<a  name="contact"></a>
    <div style="cursor:pointer" onclick=location.href="https://play.google.com/store?hl=en" class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Get our application here:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#download" class="btn btn-default btn-lg" style="background-color: #03A9F4; color: #f8f8f8;"><span class="network-name">Click to download</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#" style="color: #03A9F4">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about" style="color: #03A9F4">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services" style="color: #03A9F4">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact" style="color: #03A9F4">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; NoticeMe 2015-2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
