<html>
<head>
    <title>JavaScript Snake</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/EPHEC/css/snake.css') }}" />
</head>
<body>
<h2><center>
        JavaScript snake game written by <a href="http://patorjk.com/">Patrick Gillespie</a> (not me)
    </center></h2>
<div id="game-area" tabindex="0" style="display: table; margin: 0 auto"></div>
<script type="text/javascript" src="{{ asset('bundles/EPHEC/js/snake.js') }}"></script>
<script type="text/javascript">
    var mySnakeBoard = new SNAKE.Board( {
        boardContainer: "game-area",
        fullScreen: false,
        width: 580,
        height: 400
    });
</script>
</body>
</html>